<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medic20"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstInfo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.FirstInfo" />

                <category android:name="android.intent.category.FirstInfo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TwoInfo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TwoInfo" />

                <category android:name="android.intent.category.TwoInfo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThreeInfo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ThreeInfo" />

                <category android:name="android.intent.category.ThreeInfo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".log_reg"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ThreeInfo" />

                <category android:name="android.intent.category.ThreeInfo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kodEmail"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.kodEmail" />

                <category android:name="android.intent.category.kodEmail" />
            </intent-filter>
        </activity>
        <activity
            android:name=".password"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.password" />

                <category android:name="android.intent.category.password" />
            </intent-filter>
        </activity>
        <activity
            android:name=".card_pac"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.card_pac" />

                <category android:name="android.intent.category.card_pac" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.main" />

                <category android:name="android.intent.category.main" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>